@font-face {
    font-family: "Graphik Medium";
    src: url("assets/Graphik Medium.woff") format('woff');
}

body {
    font-family: 'Graphik-Medium';
    letter-spacing: 0.05em;
    line-height: 210%;
    font-size: 11px;
    margin: 0;
    height: 100%;
    width: 100%;
}

img{
  opacity: 0.8;
}

img:hover{
  opacity: 1;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

li.nav-list {
    list-style: none;
    display: inline-block;
    white-space: nowrap;
    margin-right: 20px;
  }

h1 {
    font-size: 22px;
}

h2 {
  font-size: 10px;
  letter-spacing: 0.25em;
}

a {
  text-decoration: none;
  color: black;
}
a#logo{
  text-decoration: none;
}
a:hover {
  color: black;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1.1em;
}

label.btn {
  height: 23px;
}
#nav-bar {
    width: 100%;
    line-height: 55px;
    min-height: 58px;
    z-index: 10;
    position: fixed;
    top: 0;
    background: rgba(0,0,0);
}

#middle-section {
  margin-top: 55px;
  width: 100%;
  font-size: 12px;
  background-color: #F8F8F9;
}

#middle-container{
}

#middle-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#middle-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


li.dots {
  background-color: #C7C7C7;
}

.pic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1130px) {

}
.btn{
  border-radius: 0;
  padding: 0;
}

.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}

.color-button {
  display: flex;
  border: 1px solid black;
}

#bottom-gallery {
  line-height: 100%;
}
.pic-row{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.black {
  background-color: black;
  color: white;
}

.beige {
  background-color: #FEDBB5;
}

.btn.black:hover{
  color: white;
}

#add{
  width: 100%;
  height: 25px;
  background-color: black;
  border: none;
  color: white;
  font-size: 15px;
}

#size {
  font-size: 9px;
}

.btn-group {
  display: flex;
}
.btn.active, .btn:active{
  box-shadow: none !important;
  -webkit-box-shadow;
}

.color-picker {
  border: 1px solid black;
  padding: 0;
  margin-bottom: 20px;
  height: 25px;
}
